@font-face {
    font-family: 'Kaushan';
    src: url('police/KaushanScript-Regular.otf');
}

header,h1{
	text-align: center;
	color:purple;
	font-family: 'Kaushan';
}

figure img{
	box-shadow: 2px 2px 2px black;
	border-radius: 10px 100px / 120px;
}
figure{
	float: right;
	
}

figcaption{
	text-align: center;
}

body{
	background-image: url('images/fond.jpg')
}

main,p{
	margin-left: 3%;
}

main h2 {
	text-decoration: underline;
	
}
a{
	text-decoration: none;
	
}
h2:hover {
	
	color:pink;
}


.puce{
	list-style-image: url('images/dbz.png')
	
}

nav ul {
	font-size: 25px;
	list-style-type: none;
	display:flex;
	justify-content: center;
	margin-left: 25%;
	font-family: 'Kaushan';
}
nav img{
	align-items: left;
	margin-top: 25%;
	margin-left: 100%;
}
nav ul li{
	margin-left: 50%;
}

nav ul li :hover {
	color:red;
	text-decoration: none;

}
nav{
	display: flex;
	border: 5px soid black;
}

.baniere{
position: absolute; left: 28%;top:21%;
border: 1px sold blue;
padding-top: 0%;


	
}


footer{
	text-align: center;
	margin-top: 5%;
}